<div class="panel">
    <a class="close-dialog" (click)="closeDialog()">
        <i class="fa-solid fa-xmark"></i>
    </a>
    <h1 class="text-center mt-3">Forget Password</h1>

        <div class="text-center mb-4">We will send you an email with instructions<br> on how to reset your password.</div>
    <input type="email" name="email" id="" class="form-control" placeholder="Enter Email..." #email>
    <div class="error text-danger">{{email_error}}</div> <br>
    <button class="btn btn-danger" (click)="sendPasswordResetLink(email)">Email Me</button><br>
</div>
