<div class="mypanel">
  <div class="row mt-5" >
    <h1 class="text-center mb-5">Our Products</h1>
    <div class="col-lg-12 mt-2">
      <div class="d-flex d-flex-center">
        <ng-container  *ngFor="let category of slider_items; let i = index">
          <ng-container *ngIf="slider_items[i].products.length>0">
            <ng-container *ngIf="tab_checked == false && i == 0; then ifBlock else elseBlock"></ng-container>
            <ng-template #ifBlock>
							<div class="tab-a active-tab" id="{{i}}" (click)="changeActiveTab($event)" >{{ category.superCategory }}</div>
						  </ng-template>
						  <ng-template #elseBlock>
                <div class="tab-a" id="{{i}}" (click)="changeActiveTab($event)" >{{ category.superCategory }}</div>
						  </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </div>
</div>
<swiper-container
slides-per-view="1"
navigation="true"
speed="500" loop="true"
class="products-section" *ngIf="screenSizeWidth > 600">
  <swiper-slide>
    <div class="products">
      <div class="col-lg-12 mt-5">
        <div class="row">
          <div class="col-lg-3" *ngFor="let product of products.slice(0, 4)">
            <div class="card shadow">
              <a routerLink="/product-details" [queryParams]="{ product_id: product.productId }"><img class="card-img-top" src="{{product.previewImageS3url}}" alt="Card image cap"></a>
              <div class="card-body">
                <h5 class="card-title" style="margin-bottom: 15px;">{{ product.productName.length > 10 ? product.productName.slice(0, 12) + '...' : product.productName }}</h5>
                <select class="form-select" *ngIf="user_signed_in == 'true'">
                  <option selected>Select KG</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="d-flex d-fex-bottom mt-3">
                  <h5 class="product-price" *ngIf="user_signed_in == 'true'">₹{{product.price}}</h5>
                  <h5 class="product-price" *ngIf="user_signed_in == ''">₹XXX</h5>
                  <button class="btn btn-red" *ngIf="user_signed_in == 'true'">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </swiper-slide>
  <ng-container *ngIf="products.length>4">
    <swiper-slide>
      <div class="products">
        <div class="col-lg-12 mt-5">
          <div class="row">
            <div class="col-lg-3" *ngFor="let product of products.slice(4, 8)">
              <div class="card shadow">
                <a routerLink="/product-details"><img class="card-img-top" src="{{product.previewImageS3url}}" alt="Card image cap"></a>
                <div class="card-body">
                  <h5 class="card-title" style="margin-bottom: 15px;">{{ product.productName.length > 10 ? product.productName.slice(0, 12) + '...' : product.productName }}</h5>
                  <select class="form-select" *ngIf="user_signed_in == 'true'">
                    <option selected>Select KG</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <div class="d-flex d-fex-bottom mt-3">
                    <h5 class="product-price">₹{{product.price}}</h5>
                    <button class="btn btn-red">Add</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </ng-container>
  <ng-container *ngIf="products.length < 4">
    <swiper-slide>
      <div class="products">
        <div class="col-lg-12 mt-5">
          <div class="row">
            <div class="col-lg-3" *ngFor="let product of products.slice(0, 4)">
              <div class="card shadow">
                <a routerLink="/product-details"><img class="card-img-top" src="{{product.previewImageS3url}}" alt="Card image cap"></a>
                <div class="card-body">
                  <h5 class="card-title" style="margin-bottom: 15px;">{{ product.productName.length > 10 ? product.productName.slice(0, 12) + '...' : product.productName }}</h5>
                  <select class="form-select" *ngIf="user_signed_in == 'true'">
                    <option selected>Select KG</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <div class="d-flex d-fex-bottom mt-3">
                    <h5 class="product-price">₹{{product.price}}</h5>
                    <button class="btn btn-red">Add</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </ng-container>
</swiper-container>

<div class="products" *ngIf="screenSizeWidth < 600">
  <div class="col-lg-12 mt-5">
    <div class="row">
      <div class="col-lg-3" *ngFor="let product of products">
        <div class="card shadow">
          <a routerLink="/product-details" [queryParams]="{ product_id: product.productId }"><img class="card-img-top" src="{{product.previewImageS3url}}" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title" style="margin-bottom: 15px;">{{ product.productName.length > 10 ? product.productName.slice(0, 12) + '...' : product.productName }}</h5>
            <select class="form-select" *ngIf="user_signed_in == 'true'">
              <option selected>Select KG</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="d-flex d-fex-bottom mt-3">
              <h5 class="product-price" *ngIf="user_signed_in == 'true'">₹{{product.price}}</h5>
              <h5 class="product-price" *ngIf="user_signed_in == ''">₹XXX</h5>
              <button class="btn btn-red" *ngIf="user_signed_in == 'true'">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <owl-carousel-o [options]="happycustomer" *ngIf="screenWidth>500">
  <ng-template *ngFor="let cusomerdata of happyCustomerData" carouselSlide>
    <div class="col-lg-3 shadow">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <br>
      <div class="client-comments">
        {{cusomerdata.R_content}}
      </div>
      <div class="d-flex">
        <div class="client-details">
          <img src="{{cusomerdata.logo}}" alt="" class="happy-company">
        </div>
        <div class="client-details right-client-side">
          <span class="client-name"> {{cusomerdata.clientname}} </span>
          <p> {{cusomerdata.clientdest}} </p>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o> -->
<div class="product-btnSec text-center">
<a class="btn btn-danger view-all" routerLink="/products"> View All</a>
</div>
</div>
<img src="assets/products-slider-layer.png" alt="" class="products-slider-layer">
