<div class="overlay-images">
    <img src="assets/about-hero-overlay1.png" alt="" class="about-hero-overlay1">
    <img src="assets/about-hero-overlay4.png" alt="" class="about-hero-overlay4">
    <img src="assets/about-hero-overlay2.png" alt="" class="about-hero-overlay2">
    <img src="assets/about-hero-overlay3.png" alt="" class="about-hero-overlay3">
</div>
<div class="about-hero">
    <div class="about-hero-right">
        <h1 class="mt-3"> Your Trusted B2B Partner</h1>
        <p>
          Our mission is clear: to simplify the superfood procurement for businesses of all sizes; from energy bars to fine dining
          restaurants and even charming food trucks.
        </p>
        <p>
        We're more than your suppliers, we're your trusted partners. Our superfoods are synonymous with organic excellence. We
        fulfil your wish for uncompromising quality and competitive pricing.
        </p>
        <span>
          Start your culinary journey with Bulkmein.
        </span>
    </div>
</div>

<!-- Why Choose Us Section  -->
<div class="container-why-choose-us">
    <div class="row justify-content-center">
        <h1 class="text-center mt-4"> Why Choose BulkMein </h1>
        <div class="col-lg-8 mt-5">
            <img src="assets/why-choose-us.svg" alt="">
        </div>
    </div>
</div>
<!-- End Choose Us Section  -->

<!-- Our Footprints Section  -->

<div class="footprints-overlay-images">
    <img src="assets/second-hero-layer-1.png" alt="" class="footprints-layer1">
    <img src="assets/products-slider-layer.png" alt="" class="footprints-layer2">
</div>
<div class="footprints-container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 footprint-left">
                    <h1 class="section-title"> Our Footprints</h1>
                    <p>From North to South, East to West, our footprint spans the entire nation, making us a trusted name in the culinary
                    industry. We have provided establishments with the finest produce available, enhancing the quality of their delightful
                    creations.</p>
                    <div class="row mt-5 row-sm-footprint">
                        <div class="col-lg-3">
                            <h1> 1000+ </h1>
                            <span> Customers</span>
                        </div>
                        <div class="col-lg-3">
                            <h1> 500+ </h1>
                            <span> Tons Stock Delivered</span>
                        </div>
                    </div>

                    <div class="row row-sm-footprint">
                        <div class="col-lg-3">
                            <h1> 35+ </h1>
                            <span> superfoods</span>
                        </div>
                        <div class="col-lg-3">
                            <h1>In-House Lab </h1>
                            <span>in a certified facility</span>
                        </div>
                    </div>

                    <div class="row row-sm-footprint">
                        <div class="col-lg-3">
                            <h1>ISO 9001 </h1>
                            <span> 2015 certification</span>
                        </div>
                        <div class="col-lg-3">
                            <h1> FSSAI </h1>
                            <span> Certification </span>
                        </div>
                    </div>

                    <div class="row row-sm-footprint">
                        <div class="col-lg-3">
                            <h1>Organic </h1>
                            <span>Certification</span>
                        </div>
                        <div class="col-lg-3">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                 <img src="assets/footprints.png" alt="" class="img-map">
                </div>
            </div>
            <div class="mobile-footprints">
                <div class="card-shadow">
                    <h1>1000+ </h1>
                    <span>Customers</span>
                </div>
                <div class="card-shadow">
                    <h1>35+</h1>
                    <span> superfoods</span>
                </div>
                <div class="card-shadow">
                    <h1>ISO 9001 </h1>
                    <span> 2015 certification</span>
                </div>
                <div class="card-shadow">
                    <h1>500+</h1>
                    <span> Tons Stock Delivered</span>
                </div>
                <div class="card-shadow">
                    <h1>In-House Lab</h1>
                    <span>in a certified facility</span>
                </div>
                <div class="card-shadow">
                    <h1>FSSAI </h1>
                    <span> Certification </span>
                </div>
                <div class="card-shadow">
                    <h1>Organic </h1>
                    <span>Certification</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Our Footprints Section  -->

<!-- Bulk Orders Section  -->
<app-bulk-orders></app-bulk-orders>
<!-- End Bulk Orders Section  -->

<br><br><br><br>
<app-products-slider></app-products-slider>
