.panel{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    overflow-y: auto;
    position: relative;
    padding-bottom: 20px;
}
.close-dialog{
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
    cursor: pointer;
}
.fa-x-mark{
    color: rgb(80, 78, 78);
}


h1{
    margin-top: 30px;
    font-size: 40px !important;
    font-weight: bold;
    margin-bottom: 40px;
}
.panel .form-control{
    width: 380px;
    margin-bottom: 25px;
    height: 45px;
    border: 1px solid rgb(155, 154, 154);
}

.btn{
    background-color: rgb(218, 18, 18);
    width: 380px;
    text-align: center;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media screen and (max-width:500px) {
    h1{
        font-size: 30px !important;
    }
    .panel .form-control{
        width: 300px;
    }
    .btn{
        width: 300px;
    }
}


@media screen and (min-width:501px) and (max-width:670px){
    .panel .form-control{
        width: 300px;
    }
    .btn{
        width: 300px;
    }
}